.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgb(196, 206, 228);
  overflow-x: hidden;
  padding-top: 20px;
}

.title {
  align-content: center;
}

.items-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.items-container > * {
  width: calc(20% - 1em);
  margin: 1em 0.5em;
}

.items-container .card-title {
  font-size: 1.2em;
  float: left;
  width: calc(100% - 110px);
}

.items-container .card.alert-light {
  padding: 0.5em;
  font-size: 13px;
  font-weight: normal;
  color: rgb(63, 57, 57);
  box-shadow: 0 0 0.2em #999;
  display: block;
}

.items-container .card-subtitle {
  float: left;
  width: calc(100% - 110px);
  margin-bottom: 10px;

  color: rgb(51, 48, 48);
}

.items-container .card.alert-light img {
  width: 100px;
  height: 100px;
  float: left;
  margin-right: 10px;
}
.cart-container .card.alert-light img {
  width: 50px;
  height: 50px;
  float: left;
  margin-left: 30%;
}
.cart-container {
  box-shadow: 0 0 0.2em #999;
  text-align: center;
}

@media only screen and (max-width: 800px) {
  .items-container .card.alert-light img {
    width: 50px;
    height: 50px;
  }
}

.currency {
  width: 20px;
  height: 20px;
  float: none;
  margin-right: 0%;
}

.cart-cost{
font-weight: 600;
font-size: 115%;
}

.card-subtitle > .currency {
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 0%;
}
@media (max-width: 426px) {
  .items-container > * {
      width: 100%!important;
  }
}

@media (max-width: 768px) {
  .items-container > * {
      width: calc(50% - 1em);
  }

  .sidenav {
      height: auto;
      box-shadow: 0 0 .4em silver;
      overflow: auto;
      max-height: 50%
  }
}
