@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

img {
    width: 150px;
    height: 150px;
}
body {
    font-family: "Roboto", sans-serif;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow-x: hidden;
    margin: 0;
}

.header {
    position: relative;
    width: 100vw;
    height: 16vh;

    display: flex;
    align-items: center;
}

/* -----------------------------------------HeaderNavBAR---------------------------------------------------------- */
.header .header-topnavbar {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 8vh;
    background-color: rgb(34, 31, 31);
    top: 0vh;
}
.header .header-topnavbar .topnavbar_left,
.topnavbar_search,
.topnavbar_right {
    align-items: center;
    margin: auto;
    color: #fff;
}
.header .header-topnavbar .item {
    margin: 10px;
}

.search {
    position: relative;
    height: 50px;
}
.search .input {
    background-color: rgb(255, 255, 255);
    border: 0;
    font-size: 18px;
    padding: 15px;
    height: 50px;
    width: 50px;
    transition: width 0.5s ease;
}
.btn {
    background-color: rgb(228, 56, 170);
    border: 0;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    transition: transform 0.5s ease;
}
.btn:focus,
input:focus {
    outline: none;
}

.search.active .input {
    width: 200px;
}
.search.active .btn {
    transform: translateX(198px);
}
/* -----------------------------------------HeaderADV---------------------------------------------------------- */
.header .header-adv {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 6vh;
    background-color: rgb(228, 56, 170);
    top: 8vh;
}
.ml12 {
    text-transform: uppercase;
    letter-spacing: 0.6em;
}

.ml12 .letter {
    display: inline-block;
    line-height: 2em;
}
/* -----------------------------------------HeaderBtns(userpage)--------------------------------------------------------- */
.header .header-btns {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 6vh;
    background-color: rgb(236, 236, 236);
    top: 14vh;
}

/* -----------------------------------------displayAreaWrapper---------------------------------------------------------- */

.displayAreaWrapper {
    position: absolute;
    display: flex;
    width: 100vw;
    height: 120vh;
    top: 14vh;
    flex-direction: column;
}

/* -----------------------------------------LeftNavBar---------------------------------------------------------- */
.left-navbar {
    position: absolute;
    display: flex;
    justify-content: center;
    background-color: rgba(121, 90, 107, 0.13);
    left: 0;
    width: 20vw;
    height: 120vh;
}
.left-navbar .left-navbar_title {
    justify-content: center;
    width: 180px;
    align-items: center;
    position: absolute;
    top: 10vh;
}
.left-navbar .left-navbar_title h1 {
    font-family: "Squada One", cursive;
    width: 180px;
    text-align: center;
}
.left-navbar .left-navbar_menu {
    display: flex;
    justify-content: center;
    position: absolute;
    flex-direction: column;
    top: 20vh;
    text-align: center;
    font-family: "Squada One", cursive;
}
.left-navbar .left-navbar_menu .left-navbar-item {
    position: relative;
    border-radius: 50%;
    margin: 10px;
    width: 180px;
    height: 100px;
    cursor: pointer;
}
.left-navbar .left-navbar_menu .left-navbar-item span {
    font-family: "Squada One", cursive;
    font-size: 30px;
    width: 200px;
    position: absolute;
    color: rgb(0, 0, 0);
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.left-navbar .left-navbar_menu .left-navbar-item span:hover {
    color: rgb(228, 56, 170);
    font-size: 40px;
    transform: translate(-50%, -50%) rotate(20deg);
    transition: 0.5s ease-in-out;
}
.left-navbar .left-navbar_menu .left-navbar-item:hover {
    color: rgb(228, 56, 170);
    font-size: larger;
    transition: 0.5s ease-out;
}
/* -----------------------------------------Payment---------------------------------------------------------- */
.payment {
    visibility: hidden;
    position: absolute;
    display: flex;
    justify-content: center;
    background-color: rgba(121, 90, 107, 0.13);
    right: 0;
    width: 30vw;
    height: 120vh;
}
.payment .payment-wrapper {
    position: absolute;
    border: 1px solid black;
    background-color: rgba(255, 253, 253, 0.267);
    width: 18vw;
    right: 5vw;
    top: 8vh;
    height: 60vh;
    justify-content: center;
    display: flex;
    align-items: center;
}
.payment .payment-title {
    justify-content: center;
    width: 180px;
    align-items: center;
    position: absolute;
    top: 10vh;
}
.payment .payment-title h1 {
    font-family: "Squada One";
    width: 180px;
    text-align: center;
}
.payment .payment_lines {
    display: flex;
    justify-content: center;
    position: absolute;
    flex-direction: column;
    top: 20vh;
    text-align: center;
    font-family: "Squada One", cursive;
}
.payment .payment_lines .line {
    font-family: "Squada One", cursive;
    font-size: 30px;
    width: 200px;
    position: absolute;
    color: rgb(0, 0, 0);
    text-align: center;
    top: 50%;
    left: 50%;
}
/* -----------------------------------------display---------------------------------------------------------- */
.display {
    position: absolute;
    display: flex;
    flex-direction: row wrap;
    right: 0%;
    width: 80vw;
    height: 86vh;
}
/* -----------------------------------------display---------------------------------------------------------- */
.userOrders {
    position: absolute;
    display: flex;
    flex-direction: row wrap;
    right: 0%;
    width: 100vw;
    height: 80vh;
    top: 20vh;
}

/* -----------------------------------------icon---------------------------------------------------------- */
.icon {
    cursor: pointer;
    color: rgb(0, 0, 0);
}
.icon:hover {
    color: rgb(253, 2, 2);
}

.icon-buttons {
    margin-top: 1rem;
}
/* -----------------------------------------LOGO---------------------------------------------------------- */
.logo {
    font-family: "Dancing Script", cursive;
    font-size: 30px;
    cursor: pointer;
}

/* -----------------------------------------card---------------------------------------------------------- */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.container,
.userOrders-container {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}

.container .card,
.userOrders-container .card {
    margin: 3%;
    position: relative;
    width: 320px;
    height: 450px;
    background: rgb(248, 248, 248);
    border-radius: 20px;
    overflow: hidden;
}

.container .card:before,
.userOrders-container .card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(214, 211, 211, 0.24);

    transition: 0.5s ease-in-out;
}

.container .card:after,
.userOrders-container .card:after {
    content: "B.A B.A B.A B.A B.A B.A B.A B.A B.A B.A B.A B.A";
    position: absolute;
    top: -5%;
    left: -50%;
    font-size: 6em;
    font-weight: 600;
    font-style: italic;
    color: rgba(255, 255, 255, 0.993);
}

.container .card .imgBx {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    width: 100%;
    height: 220px;
    transition: 0.5s;
}

.container .card:hover .imgBx {
    top: 0%;
    transform: translateY(0%);
}

.container .card .imgBx img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 270px;
}

.container .card .contentBx {
    position: absolute;
    bottom: 40px;
    width: 100%;
    height: 50px;
    text-align: center;
    transition: 1s;
    z-index: 2;
}
.userOrders-container .card .contentBx3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 2;
}
.userOrders-container .card .contentBx2 {
    position: relative;
    width: 100%;
    height: 20px;
    text-align: center;
    transition: 1s;
    z-index: 2;
    margin-bottom: 2%;
}

.container .card:hover .contentBx {
    height: 210px;
}

.userOrders-container .card .contentBx h2 {
    font-weight: 600;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    margin: 2px;
}
.userOrders-container .card .contentBx2 p {
    font-weight: 600;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
}

.container .card .contentBx .size,
.container .card .contentBx .color,
.container .card .contentBx .price {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 20px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
    padding-top: 0;
    padding-bottom: 0;
}

.container .card:hover .contentBx .size {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
}

.container .card:hover .contentBx .color {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.6s;
}
.container .card:hover .contentBx .price {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.6s;
}

.container .card .contentBx .size h3,
.container .card .contentBx .color h3,
.container .card .contentBx .price h3 {
    color: rgb(0, 0, 0);
    font-weight: 300;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
/* -----------------------------------------CheckBox Validation---------------------------------------------------------- */
.alertBox {
    margin-top: 0.5rem;
    color: red;
}

input[type="checkbox"] {
    display: none;
}

label {
    margin: 0 0.3rem;
    padding: 0 0.1rem;
    cursor: pointer;
}

input:checked + label {
    font-weight: 700;
}
/* -----------------------------------------PopUp---------------------------------------------------------- */

.popup {
    width: 110%;
    height: 135%;
    background-color: rgba(243, 237, 241, 0.918);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0;
}

.login-wrap {
    z-index: -1;
    opacity: 0;
    width: 100%;
    margin-top: 20vh;
    margin-left: 50vw;
    transform: translate(-50%);
    max-width: 525px;
    min-height: 670px;
    position: relative;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    transition: 2s;
}
.login-html {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 90px 70px 50px 70px;
    background: rgb(255, 255, 255);
}
.login-html .sign-in-htm,
.login-html .sign-up-htm {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: all 0.4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check {
    display: none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button {
    text-transform: uppercase;
}
.login-html .tab {
    font-size: 22px;
    margin-right: 15px;
    padding-bottom: 5px;
    margin: 0 15px 10px 0;
    display: inline-block;
    border-bottom: 2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab {
    color: rgb(0, 0, 0);
    border-color: #1161ee;
}
.login-form {
    min-height: 345px;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
}
.login-form .group {
    margin-bottom: 15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button {
    width: 100%;
    color: rgb(0, 0, 0);
    display: block;
}
.login-form .group .input,
.login-form .group .button {
    border: none;
    padding: 15px 20px;
    border-radius: 25px;
    background: rgba(0, 0, 0, 0.1);
}
.login-form .group input[data-type="password"] {
    -webkit-text-security: circle;
}
.login-form .group .label {
    color: #aaa;
    font-size: 12px;
}
.login-form .group .button {
    background: #1161ee;
}
.login-form .group label .icon {
    width: 15px;
    height: 15px;
    border-radius: 2px;
    position: relative;
    display: inline-block;
    background: rgba(0, 0, 0, 0.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after {
    content: "";
    width: 10px;
    height: 2px;
    background: rgb(0, 0, 0);
    position: absolute;
    transition: all 0.2s ease-in-out 0s;
}
.login-form .group label .icon:before {
    left: 3px;
    width: 5px;
    bottom: 6px;
    transform: scale(0) rotate(0);
}
.login-form .group label .icon:after {
    top: 6px;
    right: 0;
    transform: scale(0) rotate(0);
}
.login-form .group .check:checked + label {
    color: rgb(0, 0, 0);
}
.login-form .group .check:checked + label .icon {
    background: #1161ee;
}
.login-form .group .check:checked + label .icon:before {
    transform: scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after {
    transform: scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm {
    transform: rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm {
    transform: rotate(0);
}

.hr {
    height: 2px;
    margin: 60px 0 50px 0;
    background: rgba(0, 0, 0, 0.2);
}
.foot-lnk {
    text-align: center;
}

/* -----------------------------------------Tnx---------------------------------------------------------- */

.tnx {
    position: relative;
    width: 100vw;
    height: 86vh;
    top: 3vh;
}
.tnx-container {
    position: absolute;
    display: flex;
    width: 70vw;
    height: 60vh;
    left: 50%;
    transform: translate(-50%);
    flex-direction: column;

    align-items: center;
}
.tnx-container_icon {
    font-size: 20rem;
    color: rgb(0, 243, 0);
}

/* -----------------------------------------userPageBtns---------------------------------------------------------- */
.userPageBtns {
    background: linear-gradient(to bottom, #ad10938a 5%, rgb(228, 56, 170) 100%);
    background-color: rgb(228, 56, 170);
    border-radius: 24px;
    border: 1px solid #000000;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    padding: 15px 30px;
    text-decoration: none;
    text-shadow: 0px 0px 0px #ff79c3;
    margin: 5px;
}
.userPageBtns:hover span {
    color: rgb(0, 0, 0);
    transform: translate(-50%, -50%);
    transition: 0.2s ease-in-out;
}
.userPageBtns:active {
    position: relative;
    top: 1px;
}
