/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/

/*--reset--*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
nav ul,
nav li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  /* font-family: "Rubik", sans-serif; */
}

.banner {
  background: url(../images/bg2.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  background: #8f8f8f;
}

/* .banner-layer{ 
	background:#000;
	opacity:0.5;
} */

h1.title-w3layouts {
  font-size: 3em;
  /* color: #fff; */
  text-align: center;
  text-transform: capitalize;
  padding-bottom: 1em;
  font-family: "Rubik", sans-serif;
  padding: 1em 0;
}

h1.title-w3layouts span {
  margin-right: 15px;
  color: #ffa200;
}

.w3-bar {
  text-align: center;
}

.sidenav {
  /* margin-left: 100px; */
  margin-top: 40px;
  /* height: 100%; */
  height: auto;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  /* left: 0; */
  /* right: 0; */
  /* background-color: #111; */
  overflow-x: hidden;
  padding-top: 20px;
  color: #818181;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  /* color: #818181; */
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  /* margin-right: 160px; Same as the width of the sidenav */
  /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* scroll-bar */

/* width */
::-webkit-scrollbar {
  width: 13px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
